
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>雪橇交易系统</title>
    <link href="./public/css/bootstrap.min.css" rel="stylesheet">
    <link href="./public/css/common.css" rel="stylesheet">
    <link href="./public/img/logo60.png" rel="shortcut icon" />
    <link href="./public/css/login.css" rel="stylesheet">

</head>
<body>
    <div class="login_page">
  <div class="inner">
    <div class="inner_head">
      <img src="./public/img/logo120.png" width="120" height="120" />
      <span>
        雪橇交易系统
      </span>
    </div>

    <div class="card" >
        <h3 class="card-title">用户登录</h3>
        <div class="form">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="邮箱" v-model="email">
          </div>
          <div class="form-group">
            <input type="password" class="form-control" placeholder="密码" v-model="pwd">
          </div>
          <p class="card-text more">
            <a href="/reg.html">注册</a>
            <a href="/forgot.html">忘记密码</a>
          </p>
          <div class="clearfix"></div>
          <span class="form_tips wrong" v-if="loginError"><img :src="'./public/img/wrong@3x.png'" />{=loginErrorMsg}</span>
          <button class="btn btn-primary login_btn" v-bind:disabled="btnDisabled" v-on:click="login">登录</button>
        </form>
    </div>
  </div>


</div>




    <script src="./public/js/jquery.min.js"></script>
    <script src="./public/js/vue.min.js"></script>
    <script src="./public/js/tether.min.js"></script>
    <script src="./public/js/bootstrap.min.js"></script>
    <script src="./public/js/js.cookie.js"></script>
    <script src="./public/js/common.js"></script>

</body>
</html>
